
body {
    margin: 60px auto;
    width: 75%;
    display: inline;
    margin-left: 15px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
}
ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: medium;
    display: inline-flex;

}
li {

    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
h2{
  font-size: 10em;
  text-align: left;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
